
<div  ng-controller="clienteController">


	<form novalidate name="frmCliente">
	<div>
	<input type="text" ng-model="cliente.nome" required="true" name="txtNome"/>
	 <span ng-show="frmCliente.txtNome.$error.required && frmCliente.txtNome.$dirty " >Informe o nome</span>
	</div>
	<input type="button" value="Salvar" ng-click="salvarCliente()" ng-disabled="frmCliente.$invalid" />
    <input type="button" value="Cancelar" ng-click="cancelarCliente()" ng-disabled="frmCliente.$valid">
   </form>
	<div ng-repeat="cli in clientes">
		{{cli.id+' '+ cli.nome}}
		 <input type="button" value="Excluir" ng-click="deletarCliente(cli)" />
			<input type="button" value="Editar" ng-click="alterarCliente(cli)">
			<a href="clientes/{{cli.id}}">Detalhe</a>
			

	</div>
</body>
</html>
</div>